.header_block_all {
  width: 100%;
  height: 70px;
  background: #1c2678;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_all {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_block_all a {
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 15px;
}
.ph_em_address_block_all {
  display: flex;
  align-items: center;
}
.information_block_all {
  display: flex;
  align-items: center;
}
.information_block_all div {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.ph_em_left {
  margin-left: 20px;
}
.fi_ph_em {
  margin-right: 10px;
  font-size: 20px;
}
.in_box1 {
  background: #3b5998;
}
.in_box2 {
  background: #cd201f;
}
.in_box3 {
  background: #d72a79;
}
.in_box4 {
  background: #2ca5e0;
}
.in_box5 {
  background: #25d366;
}
.header_nav_block {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_nav_block a {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  color: #333;
}
.block_hover {
  position: relative;
}
.block_hover .a:hover + .hover_active {
  opacity: 1; 
  transition: opacity 0.5s; 
}

.hover_active {
  opacity: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: #333;
  width: 200px;
  padding: 20px;
  transition: 0.5s;
}
.hover_active a{
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 30px 0;
}
.mt{
  margin-left: 15px;
}
