.header_block_all {
  width: 100%;
  height: 70px;
  background: #1c2678;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_all {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_block_all a {
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 15px;
}
.ph_em_address_block_all {
  display: flex;
  align-items: center;
}
.information_block_all {
  display: flex;
  align-items: center;
}
.information_block_all div {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.ph_em_left {
  margin-left: 20px;
}
.fi_ph_em {
  margin-right: 10px;
  font-size: 20px;
}
.in_box1 {
  background: #3b5998;
}
.in_box2 {
  background: #cd201f;
}
.in_box3 {
  background: #d72a79;
}
.in_box4 {
  background: #2ca5e0;
}
.in_box5 {
  background: #25d366;
}
.header_nav_block {
  width: 100%;
  height: 70px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_nav_block a {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  color: #333;
}
.header_nav_block li > a {
  height: 100%;
  padding: 15px 0 15px 0;
}
.header_nav_block li > a:hover {
  color: #35a22b;
  height: 100%;
}
.header_nav_block li {
  display: flex;
  align-items: center;
}
.mt {
  margin-left: 15px;
}
.drop_header {
  display: none;
  position: absolute;
  z-index: 9999;
  float: left;
  min-width: 200px;
  min-height: 150px;
  background: white;
  transform: 0.5s;
  font-size: 15px;
}
.drop_header > a {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 16px;
  color: #16163f;
  font-weight: 300;
}
.drop_header a:hover {
  background-color: #c9eac6;
}
.header_content_menu:hover > .drop_header {
  display: block;
}
/* Main */
.slider_page {
  margin-bottom: 30px;
}
.slider_block {
  width: 100%;
}
.slider_block img {
  width: 100% !important;
  height: 100% !important;
}
/* News */
.news_title_block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news_btn {
  background-color: #08b72a;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  padding: 10px 20px;
}
.news_btn:hover {
  background: none;
  color: black;
}
.news_block_all {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}
.news_block_all img {
  width: 100%;
}
.news_box h4 {
  margin-top: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  margin-bottom: 10px;
}
.news_box p {
  margin-top: 10px;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
}
.read_more_btn {
  margin-top: 15px;
  color: #333;
  font-weight: 300;
  font-size: 16px;
  background: none;
}
.read_more_btn:hover {
  color: #6ec1e4;
}
/* Faculties */
.our_faculties {
  margin-top: 30px;
}
.faculties_block {
  gap: 20px;
  margin-top: 20px;
  display: block;
  display: flex;
  overflow-y: hidden;
  margin-bottom: 30px;
}
.faculties_box {
  height: 200px;
  box-shadow: 8px 12px 32px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.faculties_block::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 rgba(22, 216, 113, 0);
  border-radius: none;
  background-color: transparent;
  color: red;
}
.faculties_block::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}
.faculties_block::-webkit-scrollbar-thumb {
  border-radius: none;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  background-color: transparent;
}
.faculties_text {
  color: #313131;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
}
/* Footer  */
.footer_block_all {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.given {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.given span {
  font-size: 14px;
  color: #d7d7d9;
  margin-left: 10px;
}
.footer {
  width: 100%;
  height: 200px;
  background: #54595f;
  display: flex;
  align-items: center;
}
.footer_box p {
  color: #d3b574;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 15px;
}
/* AboutClinck */
.about_the_clinck {
  margin-bottom: 100px;
}
.clinck_block_all {
  width: 100%;
  min-height: 400px;
  background: #fff;
  box-shadow: 8px 12px 32px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
}
.logotip_box {
  width: 80px;
  height: 80px;
  background: #2653ea;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon_home {
  color: #fff;
}
.icon_home:hover {
  color: #69727d;
}
.clinck_block_all h2 {
  color: #277540;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
.clinck_block_all p {
  color: #363636;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7em;
}
.presentation_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.present_btn {
  padding: 15px 20px;
  font-size: 22px;
  font-weight: 300;
  background-color: #09690b;
  border-radius: 8px;
  box-shadow: 24px 21px 17px -3px rgba(#fff);
  font-size: 18px;
  color: #fff;
}
.present_btn:hover {
  background: #61ce70;
  cursor: pointer;
  color: #000;
}
.photo_block {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
}
.photo_box {
  height: 400px;
  background: #186f65;
  border-radius: 20px;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 20px;
}
